body, h6 {
  font-family: 'Inconsolata';
}
h1 {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}
aside {
  font-size: 12px;
}
.tight {
  text-align: center;
  line-height: 125%;
  margin: 10px auto;
}
figure {
  margin: 0;
}
figcaption {
  font-size: 12px;
}
p {
  font-size: 16px;
}
p a {
  font-weight: 700;
}
img#me {
  width: 80%;
  max-width: 200px;
  display: block;
  margin: auto;
}
div.header {
  margin-bottom: 24px;
}